/* section: Featured experiences */
/* section: Our Collection */

.card-section {
  padding: 5rem var(--gap);
  width: var(--width);
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.card-section2 {
  background-color: var(--black);
}

.card-section2 p,
.card-section2 h2 {
  color: #fff;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px #000 solid;
  padding-top: var(--border-padding-top);
  padding-bottom: 24px;
}

.card-section2 .section-title {
  border-top: 1px #fff solid;
}

.section-title>h2 {
  font-size: clamp(1.75rem, 1.4859rem + 1.1268vw, 2.5rem);
}

.card-section2 .button {
  color: #fff;
}

.card-section2 .button:hover {
  background-color: #fff;
  color: #000;
}

.cards {
  display: flex;
  align-items: end;
  overflow-x: scroll;
  padding-bottom: 48px;
  cursor: grab;
}

.cards>li {
  width: 29vw;
  min-width: 29vw;
  margin-right: var(--gap);
}

.cards>li:last-child {
  margin-right: 0;
}

.card-section2 .cards>li {
  width: 21vw;
  min-width: 21vw;
}

.card-img {
  overflow: hidden;
  transition: all .3s ease;
}

.card-img>img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all .3s ease;
}

.card-img:hover {
  border-radius: 40px;
}

.card-img:hover img {
  transform: scale(1.1);
}

.card-text {
  min-height: 128px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-section2 .card-text {
  min-height: 112px;
}

.card-text>h3 {
  font-size: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
}

.card-text>h3>p:first-child {
  font-weight: 400;
  color: gray;
}

.date {
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
}

.card-title {
  transition: color .3s ease;
}

.card-text:hover .card-title {
  color: var(--darkblue);
}

.card-section2 .card-text:hover .card-title {
  color: var(--blue);
}

.card-img,
.card-text {
  cursor: pointer;
}

.cards::-webkit-scrollbar {
  height: 8px;
}

.cards::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 8px;
}

.card-section2 .cards::-webkit-scrollbar-track {
  background: gray;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 8px;
}

.card-section2 .cards::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.cards::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}