:root {
  --gap: 2rem;
  --width: calc(100% - var(--gap) * 2);
  --border-padding-top: 16px;
  --blue: #238fe7;
  --darkblue: #1574c2;
  --black: #0d151a;
}

@media screen and (max-width: 767px) {
  :root {
    --gap: 1rem;
  }
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.button {
  background-color: transparent;
  border: none;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  height: fit-content;
  transition: all .3s ease;
  padding: 8px 0;
  text-wrap: nowrap;
  line-height: 1.1;
  display: flex;
  gap: 8px;
  align-items: center;
}

.dark-theme .button {
  color: #fff;
}

.button:hover {
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  padding: 8px 16px;
}

.dark-theme .button:hover {
  background-color: #fff;
  color: #000;
}

.button:hover path {
  fill: #fff;
}

.dark-theme .button:hover path,
.dark-theme .button:hover path {
  fill: #000;
}