.grid-section {
  padding: calc(var(--gap) * 1.5) var(--gap) var(--gap);
  width: var(--width);
}

.yellow {
  background-color: #f4af16;
}

.green {
  background-color: #259b8d;
}

.grid-section>div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". img img"
    "text img img";
  column-gap: var(--gap);
  width: 100%;
}

@media screen and (max-width: 767px) {
  .grid-section>div {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
}

.reverse>div {
  grid-template-areas:
    "img img ."
    "img img text";
}

.grid-section .section-title {
  grid-area: text;
  border-top: 1px #000 solid;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0;
  gap: var(--gap);
}

.grid-section .section-title>h2 {
  font-size: clamp(2rem, 1.7799rem + 0.939vw, 2.625rem);
  line-height: clamp(2rem, 1.7799rem + 0.939vw, 2.625rem);
  text-transform: uppercase;
}

.grid-section img {
  grid-area: img;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}